<h1>Conference Schedule</h1>

<% if "there is a next day" %>
  <%= link_to "#{@next_day}'s events", next_day_path(@next_day) %>
<% else %>
  <p>"Boobs"</p>
<% end %>

<div class="container">
  <table id="events">
    <tr>
      <td>Start Time</td>
      <td>End Time</td>
      <td>Name</td>
      <td>Track</td>
    </tr>
    <% @events.each do |e| %>
    <tr>
      <td><%= e.start_time %></td>
      <td><%= e.end_time %></td>
      <td><%= e.name %></td>
      <td><%= e.track.name %></td>
    </tr>
    <% end %>
  </table>
</div>
